@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input:focus-visible {
  outline: 0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.box {
  width: 100%;
  max-width: 450px;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  background: #2c3e50;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}

#pass-box {
  width: 100%;
  display: block;
  background-color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

#pass-box.active {
  background-color: #e74c3c;
  color: white;
}

.row {
  width: 100%;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 16px;
}

label {
  user-select: none;
}

input[type="number"], input[type="checkbox"] {
  padding: 10px;
  border-radius: 4px;
  border: none;
  outline: none;
  transition: background-color 0.3s ease;
}

input[type="number"]:focus {
  background-color: #f1c40f;
}

#btn {
  width: 100%;
  font-size: 20px;
  outline: 0;
  border: 0;
  padding: 10px;
  background-color: #34495e;
  color: white;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#btn:hover {
  background-color: #415d78;
}

/* Custom Toggle Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(20px);
}
